body {
    background-color: #f8f9fa;
}

h1 {
    margin-bottom: 20px;
}

.card {
    cursor: pointer;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

#playlists {
    margin-top: 50px;
}
